<div class="cover-img main">
  <div class="pad-20 top-150">
    <div class="about-content">
      <h3>
        About Me
      </h3>
      <p>
        Hello! My name is Ashish. I'm a web designer working in noida.I create websites on latest technologies for various screen sizes and platform. Some work done in Mobile Apps.
      </p>

      <p>I have good hanson on latest web technologies frontend and backend. I have extensive experience in Angular2/4/5, angularjs, object oriented javascript, typescript, html5, css, ionic3 and cordova4 and nodejs as backend technology..</p>
    </div>
    
  </div>
  <div class="more-btn">
      <button class="cursor-pointer" appHover myHighlight="yellow" title="click here to know more">Want to know more...</button>
   </div>
</div>