.cover-img{
    background:url("../../assets/developer.jfif");
    //height:500px;
    text-align: center;
    color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    z-index: -1;
    .about-content{
        margin: auto;
        text-align: center;
    }

    .top-150{
        padding-top:150px;
    }
    
}
.more-btn{
        text-align: center;
            cursor: pointer;
    }

    .cursor-pointer{
        cursor: pointer;
    }