<!--The content below is only a placeholder and can be replaced.-->

  <div id="header" class="header affix">
    <div class="container text-center">
      <ul class="list-inline">
        <li routerLink="about">
          <a>About</a>
        </li>
        <li class="disable">
          <a>Portfolio</a>
        </li>
        <li class="disable">
          <a>Blog</a>
        </li>
        
        <li routerLink="skills">
          <a>Skills</a>
        </li>
        <li class="disable">
          <a>Work</a>
        </li>
        <li class="disable">
          <a>Contact</a>
        </li>
      </ul>

    </div>
  </div>

  <div class="footer">
    <div class="container">copyright@ashish dec 2018</div>
    
    </div>

<router-outlet></router-outlet>